.intro-container{
    height:100vh;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.intro-text{
    font-family:'Cinzel',serif;
    font-size:70px;
    color:#ff1b1b;
    letter-spacing:6px;

    animation:glow 2s infinite alternate;
}

@keyframes glow{
    from{
        text-shadow:0 0 10px red,0 0 20px red;
    }
    to{
        text-shadow:0 0 40px red,0 0 80px red;
    }
}